{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    {{ wtf.quick_form(form) }}
    {% if checks %} 
    <table class="table">
        <thead>
            <tr>
                <th>Number</th>
                <th>Validate</th>
            </tr>
        </thead>
        <tbody>
    {% for check in checks %}
            <tr class="{{ 'success' if check[1] else 'danger' }}">  
                <td>{{ check[0] }}</td>
                <td>{{ 'Valid' if check[1] else 'Invalid' }}</td>
            </tr>
    {% endfor %}      
        </tbody>
    </table>
    {% endif %}
{% endblock %}
